{% extends "detection/base.html" %}
{% block content %}
{% load custom i18n %}
{% trans "Add" as t_add %}
{% trans "No Item Needed" as t_no_item_needed %}
{% trans "The Response Of Server Control Order" as t_t_r_o_s_c_o %}
{% trans "ID" as t_id %}
{% trans "CIWP" as t_ciwp %}
{% trans "Version" as t_version %}
{% trans "Lastest 20 Server Control Order By Every Server" as t_l_20_s_c_o_b_e_s %}
{% trans "DataBin" as t_databin %}
{% trans "Process Server" as t_processserver %}
{% trans "Hotstart" as t_hotstart %}
{% trans "Hotstart Delete Shared Memory Segments" as t_h_d_s_m_s %}
{% trans "GuardMaster" as t_guardmaster %}
{% trans "Date" as t_date %}
{% trans "Fail" as t_fail %}
{% trans "Success" as t_success %}
{% trans "No Operation" as t_no_operation %}
{% trans "Build Dir" as t_build_dir %}
{% trans "DataBin To Update" as t_databin_to_update %}
{% trans "Process To Update" as t_process_to_update %}
{% trans "HotStart Or Operation" as t_hotstart_or_operation %}
{% trans "Create Template" as t_create_template %}
<div class="container-fluid white-bg">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{servlet}}/">{{panel.label}}</a></li>
      <li class="active">{{ title }}</li>
    </ol>

    {% if message == '0' %}
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{t_success}}!</strong>
      </div>
    {% endif %}
    {% if message == '1' %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{t_fail}}!</strong>
      </div>
    {% endif %}

    <form class="form" role="form" method="post">
    {% csrf_token %}
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_build_dir}}</label>
        <select class="form-control" name="ciwp" id="ciwp">
          {% for c in ciwp %}
          <option value="{{c.id}}">{{c.label}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_version}}</label>
        <input type="text" class="form-control" value="0" name="version" id="version">
      </div>
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_databin_to_update}}</label>
        <textarea class="form-control" name="databin" id="databin" rows="5"></textarea>
      </div>
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_process_to_update}}</label>
        <input type="hidden" name="processserver" id="processserver">
      </div>
      <div class="form-group">
        {% for p in processserver %}
        <!-- Split button -->
        <div class="btn-group" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-sm btn-default processserver" id="processserver-{{p.id}}" data="{{p.id}}" onclick="javascript:select_button('processserver', {{p.id}}, 3)">
            {{p.label}}
          </button>
        </div>
        {% endfor %}
      </div>
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_hotstart_or_operation}}</label>
        <input type="hidden" name="hotstart" id="hotstart">
        <input type="hidden" name="hotstart_free" id="hotstart_free">
      </div>
      <div class="form-group">
        {% for p in processserver %}
        <!-- Split button -->
        <div class="btn-group" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle hotstart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="hotstart-{{p.id}}" data="{{p.id}}">
            {{p.label}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="javascript:select_button('hotstart', {{p.id}}, 0)">{{t_no_operation}}</a></li>
            <li><a href="javascript:select_button('hotstart', {{p.id}}, 1)">{{t_hotstart}}</a></li>
            <li><a href="javascript:select_button('hotstart', {{p.id}}, 2)">{{t_h_d_s_m_s}}</a></li>
          </ul>
        </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary btn-sm" onclick="return add_confirm()">{{ t_create_template }}</button>
    </form>

    <div class="panel panel-default" style="margin-top: 50px">
      <div class="panel-heading">{{t_t_r_o_s_c_o}}&emsp;<span class="label label-default">{{ t_l_20_s_c_o_b_e_s }}</span></div>
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
              <tr>
              <th>{{ t_id }}</th>
              <th>{{ t_ciwp }}</th>
              <th>{{ t_version }}</th>
              <th>{{ t_databin }}</th>
              <th class="success">{{ t_processserver }}</th>
              <th class="info">{{ t_hotstart }}</th>
              <th class="danger">{{ t_h_d_s_m_s }}</th>
              <th>{{ t_guardmaster }}</th>
              <th>{{ t_date }}</th>
              </tr>
            </thead>
          <tbody>
          {% for s in sco %}
            <tr>
              <td>{{s.id}}</td>
              <td>{{s.ciwp}}</td>
              <td>{{s.version}}</td>
              <td>{{s.db_list|show_db_list|safe}}</td>
              <td class="success">{{s.ps_list|show_ps_list|safe}}</td>
              <td class="info">{{s.hs_list|show_ps_list|safe}}</td>
              <td class="danger">{{s.hs_free_list|show_ps_list|safe}}</td>
              <td>{{s.user}}</td>
              <td>{{s.date}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
<script type="text/javascript">
function get_ps(id) {
  ps = {}
  {% for p in processserver %}
    ps['{{p.id}}'] = '{{p.label}}'
  {% endfor %}
  ps_array = $(id).val().split(',')
  ps_list = Array()
  $.each(ps_array, function(index, value){
    ps_list.push(ps[value])
  })
  return ps_list.join('\n')
}
function refresh_value(cla, id, sta){
  ar = Array()
  $(cla).each(function(){
    if ($(this).hasClass(sta)){
      ar.push($(this).attr('data'))
    }
  })
  $(id).val(ar.join())
}
function select_button(label, id, status){
  button = '#' + label + '-' + id
  switch (status) {
    case 0:
      $(button).attr('class', 'btn btn-sm btn-default dropdown-toggle ' + label)
    break;
    case 1:
      $(button).attr('class', 'btn btn-sm btn-info dropdown-toggle ' + label)
    break;
    case 2:
      $(button).attr('class', 'btn btn-sm btn-danger dropdown-toggle ' + label)
    break;
    case 3:
      if ($(button).hasClass('btn-success')) {
        $(button).attr('class', 'btn btn-sm btn-default ' + label)
      } else {
        $(button).attr('class', 'btn btn-sm btn-success ' + label)
      }
    break;
  }
  refresh_value('.hotstart', '#hotstart', 'btn-info')
  refresh_value('.hotstart', '#hotstart_free', 'btn-danger')
  refresh_value('.processserver', '#processserver', 'btn-success')
}
function add_confirm(){
  fmts = '{{t_ciwp}} :%(ci)s\n{{t_version}} :%(ve)s\n{{t_databin}} :\n%(da)s\n\n{{t_processserver}} :\n%(ps)s\n\n{{t_hotstart}} :\n%(hs)s\n\n{{t_h_d_s_m_s}} :\n%(hsf)s'
  t = {
    'ci':$('#ciwp').find("option:selected").text(),
    've':$('#version').val(),
    'da':$('#databin').val(),
    'ps':get_ps('#processserver'),
    'hs':get_ps('#hotstart'),
    'hsf':get_ps('#hotstart_free')
  }
  s = interpolate(fmts, t, true)
  if (!confirm(s)){
    return false
  }
}
  $(document).ready(function() {
  });
</script>
{% endblock %}
