{% extends "detection/base.html" %}
{% block content %}
{% load custom i18n %}
{% trans "Version" as t_version %}
{% trans "Url" as t_url %}
{% trans "Stage/Release/CIWP/Version" as t_s_r_c_v %}
{% trans "Parameters" as t_parameters %}
{% trans "Platform/ChgType" as t_p_c %}
{% trans "CommitVers" as t_commitvers %}
{% trans "GMVers" as t_gmvers %}
{% trans "Fail" as t_fail %}
{% trans "Please Check The Input Is Correct" as t_p_c_t_i_i_c %}
{% trans "Push" as t_push %}
{% trans "Deploy" as t_deploy %}
{% trans "The Response Of Server Control Order" as t_t_r_o_s_c_o %}
{% trans "Server" as t_server %}
{% trans "GuardMaster" as t_guardmaster %}
{% trans "Pub Date" as t_pub_date %}
{% trans "Lastest 20 Server Control Order By Every Server" as t_l_20_s_c_o_b_e_s %}
{% trans "Progress" as t_progress %}
{% trans "Result" as t_result %}
{% trans "Start Date" as t_start_date %}
{% trans "Stop Date" as t_stop_date %}
{% trans "CIWP" as t_ciwp %}
{% trans "Server Config Order" as t_s_c_o %}
{% trans "Operation" as t_operation %}
<div class="container-fluid white-bg">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{servlet}}/">{{panel.label}}</a></li>
      <li class="active">{{ title }}</li>
    </ol>

    {% if message == 2 %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{t_fail}}!</strong>&emsp;{{t_p_c_t_i_i_c}}
      </div>
    {% endif %}

    <form class="form" role="form" method="post">
    {% csrf_token %}
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_list_of_servers}}</label>
        <select class="form-control" name="server" id="server">
          {% for server in servers %}
          <option value="{{server.id}}">{{server.label}}</option>
          {% endfor %}
        </select>
      </div>
      {% ifequal url 'server'  %}
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_s_c_o}}</label>
          <select class="form-control" name="sco" id="sco">
            {% for s in sco %}
            <option value="{{s.id}}">{{s.id}} - {{s.user}} - {{s.date}}</option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label>{{t_operation}}</label>
          <select class="form-control" name="operation" id="operation">
            <option value="A">A - 创建更新包</option>
            <option value="B">B - 推送预更新</option>
            <option value="C">C - 上传正式服</option>
            <option value="D">D - 更新热加载</option>
            <option value="E">E - 撤销并回档</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary btn-sm" onclick="return deployment.serverControlConfirm();">{{t_deploy}}</button>
      {% endifequal %}
      {% ifequal url 'version'  %}
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_p_c}}</label>
        <div class="row">
          <div class="col-md-6">
            <select class="form-control" name="platform" id="platform" onchange="platform_select();">
              <option value="ios">iOS</option>
              <option value="android">Android</option>
            </select>
          </div>
          <div class="col-md-6">
            <select class="form-control" name="chgtype" id="chgtype">
              <option value="GM">游戏</option>
              <option value="COM">提审</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_commitvers}}</label>
        <div class="row">
          <div class="col-md-5">
            <input type="text" class="form-control" value="2.1.0.0" name="commitvers_from" id="commitvers_from">
          </div>
          <div class="col-md-2" style="text-align: center; line-height: 34px;">
            <span>===>>></span>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" value="2.1.0.0" name="commitvers_to" id="commitvers_to">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>{{t_gmvers}}</label>
        <div class="row">
          <div class="col-md-5">
            <input type="text" class="form-control" value="1.1.0.0" name="gmvers_from" id="gmvers_from">
          </div>
          <div class="col-md-2" style="text-align: center; line-height: 34px;">
            <span>===>>></span>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" value="0.0.0.0" name="gmvers_to" id="gmvers_to">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm" onclick="return deployment.versionControlConfirm();">{{t_deploy}}</button>
      {% endifequal %}
    </form>

    <div class="panel panel-default" style="margin-top: 50px">
      <div class="panel-heading">{{t_t_r_o_s_c_o}}&emsp;<span class="label label-default">{{ t_l_20_s_c_o_b_e_s }}</span></div>
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
              <tr>
              <th>{{ t_server }}</th>
              <th>{{ t_parameters }}</th>
              <th>{{ t_progress }}</th>
              <th>{{ t_guardmaster }}</th>
              <th>{{ t_result }}</th>
              <th>{{ t_start_date }}</th>
              <th>{{ t_stop_date }}</th>
              <th>{{ t_result }}</th>
              </tr>
            </thead>
          <tbody>
          {% for s in servercontrolworkorders %}
          {% if s.status == 0 %}
            <tr class="active">
          {% endif %}
          {% if s.status == 1 %}
            <tr class="danger">
          {% endif %}
          {% if s.status == 2 %}
            <tr class="success">
          {% endif %}
              <td>{{s.server}}</td>
              <td>{{s.parameter1}}/{{s.parameter2}}/{{s.parameter3}}/{{s.parameter4}}</td>
              <td>{{s.progress}}%</td>
              <td>{{s.user}}</td>
              <td>{{s.result|result_label}}</td>
              <td>{{s.start_date}}</td>
              <td>{{s.stop_date}}</td>
              <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Modal-{{s.id}}">{{t_query}}</button></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% for s in servercontrolworkorders %}
  <!-- Modal -->
  <div class="modal fade" id="Modal-{{s.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{s.parameter1}} - {{s.parameter2}}</h4>
        </div>
        <div class="modal-body" style="overflow: auto">
          {{s.output|safe}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
<script type="text/javascript">
function platform_select(){
  tmp = $('#platform').find("option:selected").text()
  if (tmp == 'iOS'){
    $('#commitvers_from').val('2.1.0.0')
  } else {
    $('#commitvers_from').val('2.2.0.0')
  }
}
  $(document).ready(function() {
    management.numberOnly("input[name='version']");
    platform_select();
  });
</script>
{% endblock %}
