{% extends "detection/base.html" %}
{% block content %}
{% load custom i18n %}
{% trans "Deploy" as t_deploy %}
{% trans "CleanUp Pre-Update" as t_cleanup_preupdate %}
{% trans "List Of IPs" as t_list_of_ips %}
{% trans "List Of Channels" as t_list_of_channels %}
{% trans "Current Pre-Update Status" as t_current_pre_update_status %}
{% trans "IP" as t_ip %}
{% trans "Channel" as t_channel %}
{% trans "No Pre-Update" as t_no_pre_update %}
<div class="container-fluid white-bg">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{servlet}}/">{{panel.label}}</a></li>
      <li class="active">{{ title }}</li>
    </ol>

    {% if message == 2 %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{t_fail}}!</strong>&emsp;{{t_p_c_t_i_i_c}}
      </div>
    {% endif %}
    <form class="form" role="form" method="post">
    {% csrf_token %}
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_list_of_ips}}</label>
        <select class="form-control" name="ip" id="ip">
          {% for ip in ips %}
          <option value="{{ip.label}}">{{ip.label}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>{{t_list_of_channels}}</label>
        <select class="form-control" name="channel" id="channel">
          {% for channel in channels %}
          <option value="{{channel.label}}">{{channel.label}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-sm" onclick="return deployment.pre_update();" name="submit" value="add">{{t_deploy}}</button>
      <button type="submit" class="btn btn-danger btn-sm" onclick="return deployment.del_pre_update();" name="submit" value="del">{{t_cleanup_preupdate}}</button>
    </form>

    <div class="panel panel-default" style="margin-top: 50px;">
      <div class="panel-heading">{{t_current_pre_update_status}}</div>
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
              <tr>
              <th>{{ t_ip }}</th>
              <th>{{ t_channel }}</th>
              </tr>
            </thead>
          <tbody>
          {% for ic in ip_channels %}
          {% endfor %}
          {% for ic in ip_channels %}
            <tr>
              <td>{{ic|first}}</td>
              <td>{{ic|last}}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">{{ t_no_pre_update }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
{% endblock %}
