<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
{% trans "BlazBlue Revolution Reburning GuardMaster Workbench" as t_title %}
{% trans "Range of Date" as t_range_of_date %}
{% trans "TO" as t_to %}
{% trans "Zone" as t_zone %}
{% trans "Channel" as t_channel %}
{% trans "Query" as t_query %}
{% trans "Sign Out" as t_sign_out %}
{% trans "Translate" as t_translate %}
{% trans "Player ID" as t_player_id %}
{% trans "Player Name" as t_player_name %}
{% trans "User ID" as t_user_id %}
{% trans "Gang Name" as t_gang_name %}
{% trans "Gang Leader Name" as t_gang_leader_name %}
{% trans "Gang ID" as t_gang_id %}
{% trans "Range of Money" as t_range_of_money %}
{% trans "List of Servers" as t_list_of_servers %}
{% trans "Choose The Panel" as t_choose_the_panel %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ title|default:t_title }}</title>
        <!-- scripts and styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/datepicker3.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/dataTables.bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/dataTables.tableTools.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/bootstrap-datetimepicker.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/jquery.fileupload.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/templatemo_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/simditor.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'detection/css/simditor-html.css' %}" media="screen" charset="utf-8" />
        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/jquery-2.0.3.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/bootstrap-datepicker.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/i18n/bootstrap-datepicker.zh-CN.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/i18n/bootstrap-datepicker.zh-TW.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/dataTables.bootstrap.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/dataTables.tableTools.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/emoji.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/bootstrap-datetimepicker.zh-CN.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/vendor/jquery.ui.widget.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/jquery.iframe-transport.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/jquery.fileupload.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/module.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/hotkeys.min.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/simditor.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/beautify-html.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/simditor-html.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/data.js' %}"></script>
        <script type="text/javascript"  src="{% static 'detection/js/layer.js' %}"></script>
    </head>
    <body class="templatemo-bg-image-2">
        <div class="container-fluid">
        {% if panel %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{servlet}}/">{{panel.label}}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for menu in menus %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{menu.label}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for sub in menu.sub_menu %}
                        <li {% ifequal page sub.url %} class="active"{%endifequal%}><a href="{% url sub.category panel.id sub.url %}">{{sub.label}}</a></li>
                        {% endfor %}
                    </ul>
                    </li>
                    {% endfor %}
                </ul>
                <div class="btn-group pull-right">
                {% block i18n %}
                {% include "detection/i18n.html" %}
                {% endblock %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>{{user}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="{{servlet}}/profile">Profile</a></li>
                            <li class="divider"></li>-->
                            <li><a href="{% url 'user_logout' %}">{{t_sign_out}}</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </nav>
        {% endif %}
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
