{% extends "detection/base.html" %}
{% load custom i18n %}
{% block content %}
{% trans "Change" as t_change %}
<div class="container-fluid white-bg">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{servlet}}/">{{panel.label}}</a></li>
      <li class="active">{{ title }}</li>
    </ol>
    <form role="form" id="queryForm">
      <div class="form-group" style="margin-bottom:5px">
        <label for="uin">{{t_user_id}}</label>
        <input type="text" class="form-control" id="uin" name="uin">
      </div>
      <div class="form-group">
        <label for="update-uin">UPDATE {{t_user_id}}</label>
        <input type="text" class="form-control" id="update-uin" name="update-uin">
      </div>
      <button type="submit" class="btn btn-default btn-sm" onclick="return dataAccess.bind_accountJSON(1)">{{t_query}}</button>
      <button type="submit" class="btn btn-primary btn-sm" onclick="return dataAccess.bind_accountJSON(2)">{{t_change}}</button>
    </form>

    <p class="sub-header"></p>
    <div class="col-md-12">
      <div class="jumbotron">
        <p>此处显示运行后结果</p>
      </div>
  </div>
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
{% endblock %}
