{% extends "detection/base.html" %}
{% block content %}
<script type="text/javascript">
 $(document).ready(function() {
   $('.input-datepicker').datepicker({
     format: "yyyy-mm-dd",
     weekStart: 0,
     language: gettext('en'),
     autoclose: true,
     todayHighlight: true
   });
 });
</script>
<div class="container-fluid white-bg">
  <div class="row">
    <!--<h1 class="page-header"></h1>-->

    <form class="form" role="form">
      <div class="form-group" style="margin-bottom:5px">
      	<label>{{ t_range_of_date }}</label>
      	<div class="input-daterange input-group input-datepicker" id="datepicker">
      	  <input type="text" class="input-md form-control" name="start">
      	  <span class="input-group-addon">{{ t_to }}</span>
      	  <input type="text" class="input-md form-control" name="end">
      	</div>
      </div>

      <div class="form-group" style="margin-bottom:5px">
      	<label>{{t_zone}}</label>
      	<ul class="nav nav-pills" role="tablist" id="zone-list">
      	  {% for zone in zones %}
      	  <li role="presentation" id="zone-{{zone.EnumCd}}" value="{{zone.EnumCd}}"><a href="javascript:queryButton.active('#zone-{{zone.EnumCd}}')" style="padding: 5px 8px;">{{zone.EnumDes}}</a></li>
      	  {% endfor %}
      	</ul>
      </div>

      <div class="form-group" style="margin-bottom:5px">
      	<label>{{t_channel}}</label>
      	<ul class="nav nav-pills" role="tablist" id="channel-list">
      	  {% for channel in channels %}
      	  <li role="presentation" id="channel-{{channel.EnumCd}}" value="{{channel.EnumCd}}"><a href="javascript:queryButton.active('#channel-{{channel.EnumCd}}')" style="padding: 5px 8px;">{{channel.EnumDes}}</a></li>
      	  {% endfor %}
      	</ul>
      </div>

      <button type="submit" class="btn btn-default btn-sm" id="count-button"onclick="return dataAccess.getJSON()">{{t_query}}</button>
    </form>

    <p class="sub-header"></p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="sources">
	<thead>
	  <tr>
	    {% for table in table_head %}
	    <th>{{table.label}}</th>
	    {% endfor %}
	  </tr>
	</thead>
      </table>
    </div>
  </div>
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
<script type="text/javascript">
 $(document).ready(function() {
   queryButton.initDate();
 });
</script>
{% endblock %}
