{% extends "detection/base.html" %}
{% block content %}
<div class="container-fluid white-bg">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{servlet}}/">{{panel.label}}</a></li>
      <li class="active">{{ title }}</li>
    </ol>
    <form role="form" id="queryForm">
      <div class="form-group" style="margin-bottom:5px">
      	<label for="g_n">{{t_gang_name}}</label>
      	<input type="text" class="form-control" id="g_n" name="g_n">
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="g_l_n">{{t_gang_leader_name}}</label>
        <input type="text" class="form-control" id="g_l_n" name="g_l_n">
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="g_i">{{t_gang_id}}</label>
        <input type="text" class="form-control" id="g_i" name="g_i">
      </div>
      <button type="submit" class="btn btn-default btn-sm" onclick="return dataAccess.queryJSON()">{{t_query}}</button>
    </form>

    <p class="sub-header"></p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="sources">
      	<thead>
      	  <tr>
            {% for table in table_head %}
            <th>{{table.label}}</th>
            {% endfor %}
      	  </tr>
      	</thead>
      </table>
    </div>
  </div>
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
{% endblock %}
