{% extends "detection/base.html" %}
{% block content %}
<div class="container-fluid white-bg">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{servlet}}/">{{panel.label}}</a></li>
      <li class="active">{{ title }}</li>
    </ol>
    <form role="form" id="queryForm">
      <div class="form-group" style="margin-bottom:5px">
      	<label for="uid">{{t_player_id}}</label>
      	<input type="text" class="form-control" id="uin" name="uid">
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="name">{{t_player_name}}</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="uin">{{t_user_id}}</label>
        <input type="text" class="form-control" id="uin" name="uin">
      </div>
      <button type="submit" class="btn btn-default btn-sm" onclick="return dataAccess.queryJSON()">{{t_query}}</button>
    </form>

    <p class="sub-header"></p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="sources">
      	<thead>
      	  <tr>
            {% for table in table_head %}
            <th>{{table.label}}</th>
            {% endfor %}
      	  </tr>
      	</thead>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
 $(document).ready(function() {
  management.numberOnly("input[name='uid']");
 });
</script>
{% endblock %}
