{% extends "detection/base.html" %}
{% block content %}
{% load custom i18n %}
{% trans "Mail Title" as t_mail_title %}
{% trans "Mail Content" as t_mail_content %}
{% trans "4 Words Limited" as t_4_words_limited %}
{% trans "120 Words Limited" as t_120_words_limited %}
{% trans "Accessory" as t_accessory %}
{% trans "Crystal" as t_crystal %}
{% trans "Gold" as t_gold %}
{% trans "Money" as t_money %}
{% trans "WinPoint" as t_winpoint %}
{% trans "Skill Point" as t_skill_point %}
{% trans "Power" as t_power %}
{% trans "Score Of Rank Battle" as t_score_of_rank_battle %}
{% trans "Item" as t_item %}
{% trans "Equip" as t_equip %}
{% trans "Count" as t_count %}
{% trans "Exp." as t_exp %}
{% trans "Level" as t_level %}
{% trans "GrowUp" as t_growup %}
{% trans "Add" as t_add %}
{% trans "None" as t_none %}
{% trans "Version" as t_version %}
{% trans "Match" as t_match %}
{% trans "Limited 6 Kind Of Accessory" as t_limited_6_kind_of_accessory %}
{% trans "Accessory Include Item And Equip" as t_accessory_include_item_and_equip %}
{% trans "Success" as t_success %}
{% trans "Please Check The Response Of Sending Mail" as t_p_c_t_r_o_s_m %}
{% trans "Fail" as t_fail %}
{% trans "Please Check The Input Is Correct" as t_p_c_t_i_i_c %}
{% trans "Send" as t_send %}
{% trans "Status" as t_status %}
{% trans "The Response Of Sending Mail" as t_t_r_o_s_m %}
{% trans "Server" as t_server %}
{% trans "GuardMaster" as t_guardmaster %}
{% trans "Start Date" as t_start_date %}
{% trans "End Date" as t_end_date %}
{% trans "Lastest 20 Mails By Every Server" as t_l_20_m_b_e_s %}
{% trans "Only Old Players" as t_only_old_players %}
{% trans "Only New Players" as t_only_new_players %}
{% trans "All of Players" as t_all_of_players %}
<script type="text/javascript">
 $(document).ready(function() {
   $('.input-datepicker > input').datetimepicker({
    format: "yyyy-mm-dd hh:ii:ss",
    autoclose: true,
    todayBtn: true,
    weekStart: 0,
    language: gettext('en'),
    pickerPosition: "bottom-left"
  });
 });
</script>
<div class="container-fluid white-bg">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{servlet}}/">{{panel.label}}</a></li>
      <li class="active">{{ title }}</li>
    </ol>

    {% if message == 1 %}
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{t_success}}!</strong>&emsp;{{t_p_c_t_r_o_s_m}}
      </div>
    {% endif %}
    {% if message == 2 %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{t_fail}}!</strong>&emsp;{{t_p_c_t_i_i_c}}
      </div>
    {% endif %}

    <form class="form" role="form" method="post">
    {% csrf_token %}
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_list_of_servers}}</label>
        <select class="form-control" name="server">
          {% for server in servers %}
          <option value="{{server.id}}">{{server.label}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>{{ t_range_of_date }}</label>
        <div class="input-daterange input-group input-datepicker" id="datepicker">
          <input type="text" class="input-md form-control" name="start">
          <span class="input-group-addon">{{ t_to }}</span>
          <input type="text" class="input-md form-control" name="end">
        </div>
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label>{{ t_zone }}</label>&emsp;
          {% for zone in zones %}
          {% if zone.EnumCd != '0' %}
          <label class="checkbox-inline">
            <input type="checkbox" id="zone-{{zone.EnumCd}}" value="{{zone.EnumCd}}" name="zone" {% if zone.EnumCd|list_find:notify.world_id  %} checked{% endif %}> {{zone.EnumDes}}
          </label>
          {% endif %}
          {% endfor %}
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="version">{{t_version}}</label>&emsp;<span class="label label-danger">1.[23].19(713|060).(11|[0-3])&emsp;{{ t_match }}&emsp;1.2/3.19713/19060.0/1/2/3/11</span>
        <input type="text" class="form-control" id="version" name="version" value="{{ version|default:'' }}">
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label>{{t_status}}</label>
        <select class="form-control" name="status">
          <option value="0">{{t_only_old_players}}</option>
          <option value="1">{{t_only_new_players}}</option>
          <option value="2">{{t_all_of_players}}</option>
        </select>
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="title">{{ t_mail_title }}</label>&emsp;<span class="label label-danger">{{ t_4_words_limited }}</span>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="content">{{ t_mail_content }}</label>&emsp;<span class="label label-danger">{{ t_120_words_limited }}</span>
        <input type="text" class="form-control" id="content" name="content">
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="uid">{{t_accessory}}</label>&emsp;<span class="label label-danger">{{ t_limited_6_kind_of_accessory }}&emsp;|&emsp;{{ t_accessory_include_item_and_equip }}</span>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon" id="crystal-addon">{{t_crystal}}</span>
              <input type="text" class="form-control" placeholder="0" aria-describedby="crystal-addon" name="crystal">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon" id="gold-addon">{{t_gold}}</span>
              <input type="text" class="form-control" placeholder="0" aria-describedby="gold-addon" name="gold">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon" id="money-addon">{{t_money}}</span>
              <input type="text" class="form-control" placeholder="0" aria-describedby="money-addon" name="money">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="skillpoint-addon">{{t_skill_point}}</span>
              <input type="text" class="form-control" placeholder="0" aria-describedby="skillpoint-addon" name="skillpoint">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="power-addon">{{t_power}}</span>
              <input type="text" class="form-control" placeholder="0" aria-describedby="power-addon" name="power">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="score-addon">{{t_score_of_rank_battle}}</span>
              <input type="text" class="form-control" placeholder="0" aria-describedby="score-addon" name="score">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="winpoint-addon">{{t_winpoint}}</span>
              <input type="text" class="form-control" placeholder="0" aria-describedby="winpoint-addon" name="winpoint">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <div class="row">
          <div class="col-md-4">
            <label for="uid">{{t_item}}</label>
            <div class="form-group">
              <div class="col-md-7">
                <select class="form-control" id="items-select">
                  <option value="-1" selected="selected">{{t_none}}</option>
                  {% for item in items %}
                  <option value="{{item.EnumCd}}">{{item.EnumCd}}&emsp;|&emsp;{{item.EnumDes}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group col-md-5">
                <span class="input-group-addon" id="item-count-addon">{{t_count}}</span>
                <input type="text" class="form-control" placeholder="0" aria-describedby="item-count-addon" id="item-count">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-info" onclick="management.addObject('#items', '#items-select', '#item-count', '5')">{{t_add}}</button>
                </div>
              </div>
            </div>
            <ul class="list-group" id="items"></ul>
          </div>
          <div class="col-md-8">
            <label for="uid">{{t_equip}}</label>
            <div class="form-group">
              <div class="col-md-3">
                <select class="form-control" id="equips-select">
                  <option value="-1" selected="selected">{{t_none}}</option>
                  {% for equip in equips %}
                  <option value="{{equip.EnumCd}}">{{equip.EnumCd}}&emsp;|&emsp;{{equip.EnumDes}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <span class="input-group-addon" id="equip-exp-addon">{{t_exp}}</span>
                  <input type="text" class="form-control" placeholder="0" aria-describedby="equip-exp-addon" id="equip-exp">
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <span class="input-group-addon" id="equip-level-addon">{{t_level}}</span>
                  <input type="text" class="form-control" placeholder="0" aria-describedby="equip-level-addon" id="equip-level">
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <span class="input-group-addon" id="equip-growup-addon">{{t_growup}}</span>
                  <input type="text" class="form-control" placeholder="0" aria-describedby="equip-growup-addon" id="equip-growup">
                </div>
              </div>
              <div class="input-group col-md-3">
                <span class="input-group-addon" id="equip-count-addon">{{t_count}}</span>
                <input type="text" class="form-control" placeholder="0" aria-describedby="equip-count-addon" id="equip-count">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-info" onclick="management.addObject('#equips', '#equips-select', '#equip-count', '10')">{{t_add}}</button>
                </div>
              </div>
            </div>
            <ul class="list-group" id="equips"></ul>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm" onclick="return queryButton.mailConfirm()">{{t_send}}</button>
    </form>

    <div class="panel panel-default" style="margin-top: 50px">
      <div class="panel-heading">{{t_t_r_o_s_m}}&emsp;<span class="label label-default">{{ t_l_20_m_b_e_s }}</span></div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
              <th style="width: 7%">{{t_mail_title}}</th>
              <th style="width: 20%">{{t_mail_content}}</th>
              <th style="width: 14%">{{t_server}}</th>
              <th style="width: 7%">{{t_zone}}</th>
              <th style="width: 14%">{{t_accessory}}</th>
              <th style="width: 7%">{{t_guardmaster}}</th>
              <th style="width: 10%">{{t_start_date}}</th>
              <th style="width: 10%">{{t_end_date}}</th>
              </tr>
            </thead>
          <tbody>
          {% for r in responseallmails %}
            <tr>
              <td>{{r.title}}</td>
              <td>{{r.content}}</td>
              <td>{{r.server}}</td>
              <td>{{r.zone}}</td>
              <td>{{r.accessory|format_accessory:panel.id|safe}}</td>
              <td>{{r.guardmaster}}</td>
              <td>{{r.start_date}}</td>
              <td>{{r.end_date}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
<script type="text/javascript">
 $(document).ready(function() {
  management.numberOnly("input[name='equip-count']");
  management.numberOnly("input[name='item-count']");
  management.numberOnly("input[name='score']");
  management.numberOnly("input[name='power']");
  management.numberOnly("input[name='skillpoint']");
  management.numberOnly("input[name='money']");
  management.numberOnly("input[name='gold']");
  management.numberOnly("input[name='crystal']");
 });
</script>
{% endblock %}
