{% load custom i18n %}
{% trans "Player Base Info" as t_player_base_info %}
{% trans "Create Time" as t_create_time %}
{% trans "Online" as t_online %}
{% trans "Last Login Time" as t_last_login_time %}
{% trans "Last Logout Time" as t_last_logout_time %}
{% trans "Total Online Time" as t_total_online_time %}
{% trans "Gold" as t_gold %}
{% trans "Times Of Buy Gold" as t_times_of_buy_gold %}
{% trans "Crystal" as t_crystal %}
{% trans "Times Of Buy Crystal" as t_times_of_buy_crystal %}
{% trans "Money" as t_money %}
{% trans "Power" as t_power %}
{% trans "Times Of Buy Power" as t_times_of_buy_power %}
{% trans "Skill Point" as t_skill_point %}
{% trans "Times Of Buy Skill Point" as t_times_of_buy_skill_point %}
{% trans "Endless' Floor" as t_endless_floor %}
{% trans "Endless' Score" as t_endless_score %}
{% trans "Score Of Rank Battle" as t_score_of_rank_battle %}
{% trans "Times Of Growup" as t_times_of_growup %}
{% trans "Account Ban Time" as t_account_ban_time %}
{% trans "Chat Ban Time" as t_chat_ban_time %}
{% trans "Total Recharge (VIP Level)" as t_total_recharge_vip_level %}
{% trans "Add 100k" as t_add_100k %}
{% trans "Add 10k" as t_add_10k %}
{% trans "Add" as t_add %}
{% trans "Reduce" as t_reduce %}
{% trans "Change" as t_change %}
{% trans "Kick Player" as t_kick_player %}
{% trans "Account Ban 7 Days" as t_account_ban_7_days %}
{% trans "Account Ban 30 Days" as t_account_ban_30_days %}
{% trans "Chat Ban 7 Days" as t_chat_ban_7_days %}
{% trans "Chat Ban 30 Days" as t_chat_ban_30_days %}
{% trans "Un Ban" as t_un_ban %}
{% trans "Ohter Contorl" as t_other_contorl %}
{% trans "Add 100k Exp. Items" as t_add_100k_exp_items %}
{% trans "Unlock 50 Dungeon" as t_unlock_50_dungeon %}
{% trans "Unlock 100 Dungeon" as t_unlock_100_dungeon %}
{% trans "Unlock 150 Dungeon" as t_unlock_150_dungeon %}
<div class="panel panel-primary">
  <div class="panel-heading">{{ t_player_base_info }}</div>
  <!-- Table -->
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><b>{{ t_player_name }}</b></td>
        <td colspan="2">{{ player.name }}</td>
        <td><b>{{ t_player_id }}</b></td>
        <td>{{ player.uid }}</td>
      </tr>
      <tr>
        <td><b>{{ t_user_id }}</b></td>
        <td colspan="2">{{ player.uin }}</td>
        <td><b>{{ t_zone }}</b></td>
        <td>{{ player.world_id }}</td>
      </tr>
      <tr>
        <td><b>{{ t_create_time }}</b></td>
        <td colspan="2">{{ player.create_time|ts2time|default_if_none:"" }}</td>
        <td><b>{{ t_total_online_time }}</b></td>
        <td>{{ player.total_online_time|second2time }}</td>
      </tr>
      <tr>
        <td><b>{{ t_last_login_time }}</b></td>
        <td colspan="2">{{ player.last_login_time|ts2time|default_if_none:"" }}</td>
        <td><b>{{ t_last_logout_time }}</b></td>
        <td>{{ player.last_logout_time|ts2time|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><b>{{ t_gold }}</b></td>
        <td>{{ player.gold_cnt }}</td>
        <td width="200px">
        {% ifequal url 'single_query'  %}
          <input type="text" style="width: 80px;" value="0" name="add2">
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'add',2)">{{t_add}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.reduceJSON({{server_id}},{{player.uid|default:0}},'add',2)">{{t_reduce}}</button>
        {% endifequal %}
        </td>
        <td><b>{{ t_times_of_buy_gold }}</b></td>
        <td>{{ player.gold_buy_times }}</td>
      </tr>
      <tr>
        <td><b>{{ t_crystal }}</b></td>
        <td>{{ player.crystal_cnt }}</td>
        <td>
        {% ifequal url 'single_query'  %}
          <input type="text" style="width: 80px;" value="0" name="add1">
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'add',1)">{{t_add}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.reduceJSON({{server_id}},{{player.uid|default:0}},'add',1)">{{t_reduce}}</button>
        {% endifequal %}
        </td>
        <td><b>{{ t_times_of_buy_crystal }}</b></td>
        <td>{{ player.crystal_buy_times }}</td>
      </tr>
      <tr>
        <td><b>{{ t_power }}</b></td>
        <td>{{ player.power_cnt }}</td>
        <td>
        {% ifequal url 'single_query'  %}
          <input type="text" style="width: 80px;" value="0" name="add6">
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'add',6)">{{t_add}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.reduceJSON({{server_id}},{{player.uid|default:0}},'add',6)">{{t_reduce}}</button>
        {% endifequal %}
        </td>
        <td><b>{{ t_times_of_buy_power }}</b></td>
        <td>{{ player.power_buy_times }}</td>
      </tr>
      <tr>
        <td><b>{{ t_skill_point }}</b></td>
        <td>{{ player.skillpoint_cnt }}</td>
        <td>
        {% ifequal url 'single_query'  %}
          <input type="text" style="width: 80px;" value="0" name="add4">
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'add',4)">{{t_add}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.reduceJSON({{server_id}},{{player.uid|default:0}},'add',4)">{{t_reduce}}</button>
        {% endifequal %}
        </td>
        <td><b>{{ t_times_of_buy_skill_point }}</b></td>
        <td>{{ player.skillpoint_buy_times }}</td>
      </tr>
      <tr>
        <td><b>{{ t_money }}</b></td>
        <td>{{ player.money_cnt }}</td>
        <td>
        {% ifequal url 'single_query'  %}
          <input type="text" style="width: 80px;" value="0" name="add3">
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'add',3)">{{t_add}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.reduceJSON({{server_id}},{{player.uid|default:0}},'add',3)">{{t_reduce}}</button>
        {% endifequal %}
        </td>
        <td><b>{{ t_times_of_growup }}</b></td>
        <td>{{ player.growup_cnt }}</td>
      </tr>
      <tr>
        <td><b>{{ t_score_of_rank_battle }}</b></td>
        <td>{{ player.rank_battle_score }}</td>
        <td>
        {% ifequal url 'single_query'  %}
          <input type="text" style="width: 80px;" value="0" name="add11">
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'add',11)">{{t_add}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.reduceJSON({{server_id}},{{player.uid|default:0}},'add',11)">{{t_reduce}}</button>
        {% endifequal %}
        </td>
        <td><b>{{ t_endless_score }}</b></td>
        <td>{{ player.endless_score }}</td>
      </tr>
      <tr>
        <td><b>{{ t_total_recharge_vip_level }}</b></td>
        <td>{{ player.total_recharge }}</td>
        <td>
        {% ifequal url 'single_query'  %}
          <input type="text" style="width: 80px;" value="0" name="recharge0">
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'recharge',0)">{{t_change}}</button>
        {% endifequal %}
        </td>
        <td><b>{{ t_endless_floor }}</b></td>
        <td>{{ player.endless_floor }}</td>
      </tr>
      <tr>
        <td><b>{{ t_chat_ban_time }}</b></td>
        <td colspan="4">{{ player.world_info.chat_ban_time|ts2bantime }}
          <span class="pull-right">
            <button type="submit" class="btn btn-info btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'chat_ban',0)">{{t_un_ban}}</button>
            <button type="submit" class="btn btn-warning btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'chat_ban',7)">{{t_chat_ban_7_days}}</button>
            <button type="submit" class="btn btn-warning btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'chat_ban',30)">{{t_chat_ban_30_days}}</button>
          </span>
        </td>
      </tr>
      <tr>
        <td><b>{{ t_account_ban_time }}</b></td>
        <td colspan="4">{{ player.world_info.account_ban_time|ts2bantime }}
          <span class="pull-right">
            <button type="submit" class="btn btn-info btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'account_ban',0)">{{t_un_ban}}</button>
            <button type="submit" class="btn btn-warning btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'account_ban',7)">{{t_account_ban_7_days}}</button>
            <button type="submit" class="btn btn-warning btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'account_ban',30)">{{t_account_ban_30_days}}</button>
          </span>
        </td>
      </tr>
      <tr>
        <td><b>{{ t_online }}</b></td>
        <td colspan="4">{{ player.is_online|online }}
          <span class="pull-right">
          <button type="submit" class="btn btn-danger btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'kick',0)">{{t_kick_player}}</button></span>
        </td>
      </tr>
      {% ifequal url 'single_query'  %}
      <tr>
        <td><b>{{ t_other_contorl }}</b></td>
        <td colspan="4"><span class="pull-right">
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'add',5)">{{t_add_100k_exp_items}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'dungeon',50)">{{t_unlock_50_dungeon}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'dungeon',100)">{{t_unlock_100_dungeon}}</button>
          <button type="submit" class="btn btn-default btn-xs" onclick="dataAccess.addJSON({{server_id}},{{player.uid|default:0}},'dungeon',150)">{{t_unlock_150_dungeon}}</button>
        </span></td>
      </tr>
      {% endifequal %}
    </tbody>
  </table>
  <!-- List -->
  {% include "operating/hero_info.html" %}
  {% include "operating/package_info.html" %}
  {% include "operating/building_info.html" %}
  {% include "operating/pve_info.html" %}
  {% include "operating/rank_list.html" %}
</div>
<script type="text/javascript">
 $(document).ready(function() {
  management.numberOnly("input[name='add2']");
  management.numberOnly("input[name='add1']");
  management.numberOnly("input[name='add6']");
  management.numberOnly("input[name='add4']");
  management.numberOnly("input[name='add3']");
  management.numberOnly("input[name='add11']");
  management.numberOnly("input[name='recharge0']");
 });
</script>
