{% load custom i18n %}
{% trans "Building Info" as t_building_info %}
{% trans "Building" as t_building %}
{% trans "Pvp Gold Gain" as t_pvp_gold_gain %}
{% trans "Pvp Exp. Item Gain" as t_pvp_exp_item_gain %}
{% trans "Pvp Money Gain" as t_pvp_money_gain %}
{% trans "Pvp Crystal Gain" as t_pvp_crystal_gain %}
{% trans "Resources Type" as t_resources_type %}
{% trans "Resources Type Name" as t_resources_type_name %}
{% trans "Last Born Time" as t_last_born_time %}
{% trans "Born Speed" as t_born_speed %}
{% trans "Resources Limit" as t_resources_limit %}
{% trans "Current Resources Born" as t_current_resources_born %}
{% trans "Defend Info" as t_defend_info %}
{% trans "Hero Name" as t_hero_name %}
{% trans "Hero Level" as t_hero_level %}
{% trans "Monster ID" as t_monster_id %}
{% trans "Monster Level" as t_monster_level %}
{% trans "Trap ID" as t_trap_id %}
{% trans "Trap Level" as t_trap_level %}
{% trans "Building ID" as t_building_id %}
{% trans "Building Name" as t_building_name %}
{% trans "Building Level" as t_building_level %}
{% trans "Level Begin Time" as t_level_begin_time %}
{% trans "Level Total Time" as t_level_total_time %}
{% trans "Hero Tower" as t_hero_tower %}
{% trans "Resources Store" as t_resources_store %}
<ul class="list-group">
  {% with island_data=player.building_data.island_data island_gain=player.building_data.island_gain %}
  <li class="list-group-item"><h4><b>{{ t_building_info }}</b>
    <span class="label label-default">{{ t_pvp_gold_gain }} :{{ island_gain.pvp_gain_gold }}</span>
    <span class="label label-default">{{ t_pvp_exp_item_gain }} :{{ island_gain.pvp_gain_exp_item }}</span>
    <span class="label label-default">{{ t_pvp_money_gain }} :{{ island_gain.pvp_gain_money }}</span>
    <span class="label label-default">{{ t_pvp_crystal_gain }} :{{ island_gain.pvp_gain_crystal }}</span></h4>
  </li>
  {% for k in island_data %}
    <li class="list-group-item">
      <!--<span class="label label-default">{{ t_resources_type }} :{{ k.res_type }}</span>-->
      <span class="label label-primary">{{ t_resources_type_name }} :{{ k.res_type|enum_restype:panel.id }}</span>
      <span class="label label-default">{{ t_last_born_time }} :{{ k.born_info.last_born_time|ts2time }}</span>
      <span class="label label-default">{{ t_born_speed }} :{{ k.born_info.born_speed }}</span>
      <span class="label label-default">{{ t_resources_limit }} :{{ k.born_info.born_limit }}</span>
      <span class="label label-default">{{ t_current_resources_born }} :{{ k.born_info.cur_born_res }}</span><br/><b>{{ t_defend_info }}</b>
      <span class="label label-success">{{ t_hero_name }} :{{ k.born_info.defend_info.hero_id|enum_hero:panel.id }}</span>
      <span class="label label-success">{{ t_hero_level }} :{{ k.born_info.defend_info.hero_lv }}</span>
      <span class="label label-success">{{ t_monster_id }} :{{ k.born_info.defend_info.monster_id }}</span>
      <span class="label label-success">{{ t_monster_level }} :{{ k.born_info.defend_info.monster_lv }}</span>
      <span class="label label-success">{{ t_trap_id }} :{{ k.born_info.defend_info.trap_id }}</span>
      <span class="label label-success">{{ t_trap_level }} :{{ k.born_info.defend_info.trap_lv }}</span>
      <span class="pull-right">
        <button class="btn-xs btn btn-success" type="button" onclick="javascript:building_show_hide_table('#island-{{k.res_type}}')">{{ t_building }} <span class="badge">{{ k.building_info|length }}</span></button>
      </span>
    </li>
    <table class="table island table-condensed " id="island-{{k.res_type}}" style="display: none">
      <thead>
        <tr>
          <!--<th>{{ t_building_id }}</th>-->
          <th>{{ t_building_name }}</th>
          <th>{{ t_building_level }}</th>
          <th>{{ t_level_begin_time }}</th>
          <th>{{ t_level_total_time }}</th>
        </tr>
      </thead>
      <tbody>
      {% for v in k.building_info %}
        <tr {% cycle 'class="success"' '' %}>
          <!--<td>{{ v.building_id }}</td>-->
          <td>{{ v.building_id|enum_building:panel.id }}</td>
          <td>{{ v.building_lv }}</td>
          <td>{{ v.level_beg_time|ts2time }}</td>
          <td>{{ v.level_total_time|second2time }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
  {% endwith %}
  {% with player.building_data.hero_tower_data as  hero_tower %}
  <li class="list-group-item"><b>{{ t_hero_tower }}</b>
    <!--<span class="label label-default">{{ t_building_id }} :{{ hero_tower.building_id }}</span>-->
    <span class="label label-default">{{ t_building_level }} :{{ hero_tower.building_lv }}</span>
    <span class="label label-default">{{ t_level_begin_time }} :{{ hero_tower.level_beg_time|ts2time }}</span>
    <span class="label label-default">{{ t_level_total_time }} :{{ hero_tower.level_total_time|second2time }}</span>
  </li>
  {% endwith %}
  {% for k in player.building_data.res_store_data %}
  <li class="list-group-item"><b>{{ k.res_type|enum_restype:panel.id }}{{ t_resources_store }}</b>
    <!--<span class="label label-default">{{ t_resources_type }} :{{ k.res_type }}</span>-->
    <!--<span class="label label-primary">{{ t_resources_type_name }} :{{ k.res_type|enum_restype:panel.id }}</span>-->
    <!--<span class="label label-default">{{ t_building_id }} :{{ k.building_info.building_id }}</span>-->
    <span class="label label-default">{{ t_building_level }} :{{ k.building_info.building_lv }}</span>
    <span class="label label-default">{{ t_level_begin_time }} :{{ k.building_info.level_beg_time }}</span>
    <span class="label label-default">{{ t_level_begin_time }} :{{ k.building_info.level_total_time }}</span>
    <span class="label label-default">{{ t_resources_limit }} :{{ k.res_limit }}</span>
  </li>
  {% endfor %}
</ul>
<script type="text/javascript">
function building_show_hide_table(k) {
  if($(k).is(":hidden")) {
    $(k).show()
  } else {
    $(k).hide()
  }
}
</script>
