{% load custom i18n %}
{% trans "Package & Item" as t_package_item %}
{% trans "Package Info" as t_package_info %}
{% trans "Item" as t_item %}
{% trans "Package Pos" as t_package_pos %}
{% trans "Level" as t_level %}
{% trans "Count" as t_count %}
{% trans "Grow Up" as t_grow_up %}
{% trans "Current Exp." as t_current_exp %}
{% trans "Binded Hero" as t_binded_hero %}
{% trans "Equip ID" as t_equip_id %}
{% trans "Equip Name" as t_equip_name %}
{% trans "Wake Up" as t_wake_up %}
{% trans "Item Info" as t_item_info %}
{% trans "Factor Info" as t_factor_info %}
{% trans "Status" as t_status %}
{% trans "Function Type" as t_function_type %}
{% trans "Base ID" as t_base_id %}
{% trans "Item Name" as t_item_name %}
{% trans "Factor Name" as t_factor_name %}
{% trans "Type" as t_type %}
<ul class="list-group">
  <li class="list-group-item"><h4><b>{{ t_package_item }}</b></h4></li>
  {% with equip_tab=player.package_data.equip_tab %}
  <li class="list-group-item"><b>{{ t_package_info }}</b>
      <span class="pull-right">
        <button class="btn-xs btn btn-default" type="button" onclick="javascript:package_show_hide_table('#package')">{{ t_item }} <span class="badge">{{ equip_tab.equips|length }}</span></button>
      </span></li>
    <table class="table package table-striped table-condensed" id="package" style="display: none">
      <thead>
        <tr>
          <th>{{ t_package_pos }}</th>
          <th>{{ t_equip_id }}</th>
          <th>{{ t_equip_name }}</th>
          <th>{{ t_count }}</th>
          <th>{{ t_level }}</th>
          <th>{{ t_grow_up }}</th>
          <th>{{ t_current_exp }}</th>
          <th>{{ t_binded_hero }}</th>
          <th>{{ t_wake_up }}</th>
        </tr>
      </thead>
      <tbody>
      {% for v in equip_tab.equips %}
        <tr>
          <td>{{ v.package_pos }}</td>
          <td>{{ v.equip_id }}</td>
          <td>{{ v.equip_id|enum_equip:panel.id }}</td>
          <td>{{ v.count }}</td>
          <td>{{ v.level }}</td>
          <td>{{ v.growup }}</td>
          <td>{{ v.cur_exp }}</td>
          <td>{{ v.bind_to_hero }}</td>
          <td>{{ v.wakeup }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endwith %}
  {% with tab_info=player.package_data.tab_info %}
  <li class="list-group-item"><b>{{ t_item_info }}</b>
      <span class="pull-right">
        <button class="btn-xs btn btn-default" type="button" onclick="javascript:package_show_hide_table('#item')">{{ t_item }} <span class="badge">{{ tab_info|tab_join|length }}</span></button>
      </span></li>
    <table class="table item table-striped table-condensed" id="item" style="display: none">
      <thead>
        <tr>
          <th>{{ t_package_pos }}</th>
          <th>{{ t_base_id }}</th>
          <th>{{ t_item_name }}</th>
          <th>{{ t_count }}</th>
          <th>{{ t_status }}</th>
          <th>{{ t_function_type }}</th>
          <th>{{ t_type }}</th>
        </tr>
      </thead>
      <tbody>
      {% for v in tab_info|tab_join %}
        <tr>
          <td>{{ v.package_pos }}</td>
          <td>{{ v.base_id }}</td>
          <td>{{ v.base_id|enum_item:panel.id }}</td>
          <td>{{ v.count }}</td>
          <td>{{ v.stat }}</td>
          <td>{{ v.func_type }}</td>
          <td>{{ v.type }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endwith %}
  {% with factor_info=player.package_data.factor_info %}
  <li class="list-group-item"><b>{{ t_factor_info }}</b>
      <span class="pull-right">
        <button class="btn-xs btn btn-default" type="button" onclick="javascript:package_show_hide_table('#factor')">{{ t_item }} <span class="badge">{{ factor_info.factor_data|length }}</span></button>
      </span></li>
    <table class="table factor table-striped table-condensed" id="factor" style="display: none">
      <thead>
        <tr>
          <th>{{ t_base_id }}</th>
          <th>{{ t_factor_name }}</th>
          <th>{{ t_count }}</th>
        </tr>
      </thead>
      <tbody>
      {% for f in factor_info.factor_data %}
        <tr>
          <td>{{ f.factor_id }}</td>
          <td>{{ f.factor_id|enum_factor:panel.id }}</td>
          <td>{{ f.count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endwith %}
</ul>
<script type="text/javascript">
function package_show_hide_table(k) {
  if($(k).is(":hidden")) {
    $(k).show()
  } else {
    $(k).hide()
  }
}
</script>
