{% extends "detection/base.html" %}
{% block content %}
{% load custom i18n %}
{% trans "Real Rank Info" as t_real_rank_info %}
{% trans "Rank List" as t_rank_list %}
{% trans "Range Of Rank" as t_range_of_rank %}
{% trans "Max Range In 100" as t_max_range_in_100 %}
{% trans "Total Number" as t_total_number %}
{% trans "Rank Pos" as t_rank_pos %}
{% trans "Player ID" as t_player_id %}
{% trans "Player Name" as t_player_name %}
{% trans "Is Robot" as t_is_robot %}
{% trans "Recharge ID" as t_recharge_id %}
{% trans "Gang ID" as t_gang_id %}
{% trans "Gang Name" as t_gang_name %}
{% trans "Gang Level" as t_gang_level %}
<div class="container-fluid white-bg">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{servlet}}/">{{panel.label}}</a></li>
      <li class="active">{{ title }}</li>
    </ol>
    <form class="form" role="form"  method="post" action="{% url 'operating:rank' panel.id 'all_rank' %}">
      {% csrf_token %}
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_list_of_servers}}</label>
        <select class="form-control" name="server">
          {% for server in servers %}
          <option value="{{server.id}}" {% ifequal server_id server.id %}selected{% endifequal %}>{{server.label}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_rank_list}}</label>
        <select class="form-control" name="rank">
          {% for rank in ranks %}
          <option value="{{rank.id}}" {% ifequal rank_id rank.id %}selected{% endifequal %}>{{rank.label}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_zone}}</label>
        <select class="form-control" name="zone">
          {% for zone in zones %}
          {% if zone.EnumCd != 0 %}
          <option value="{{zone.EnumCd}}" {% ifequal notify.world_id zone.EnumCd %}selected{% endifequal %}>{{zone.EnumDes}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label>{{t_range_of_rank}}&emsp;<span class="label label-danger">{{ t_max_range_in_100 }}</span></label>
        <div class="input-daterange input-group">
          <input type="text" class="input-md form-control" name="rank_start" value="{{ rank_start|default:1 }}">
          <span class="input-group-addon">{{t_to}}</span>
          <input type="text" class="input-md form-control" name="rank_end" value="{{ rank_end|default:100 }}">
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-sm">{{t_query}}</button>
    </form>

    <p class="sub-header"></p>
    <div class="table-responsive">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ t_real_rank_info }}
          <span class="pull-right">{{ t_total_number }}<span class="badge">{{ rank.total_count|default:0}}</span></span>
        </div>
        {% if rank.rank_id == 4 %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>{{ t_rank_pos }}</th>
              <th>{{ t_gang_id }}</th>
              <th>{{ t_gang_name }}</th>
              <th>{{ t_gang_level }}</th>
            </tr>
          </thead>
          <tbody>
          {% for k in rank.rank_list %}
          {% with k.rank_val|first as val %}
            <tr>
              <td>{{ k.rank_pos }}</td>
              <td>{{ k.rank_base_info.gang_base_info.gang_id }}</td>
              <td>{{ k.rank_base_info.gang_base_info.gang_name }}</td>
              <td>{{ k.rank_base_info.gang_base_info.gang_level }}</td>
            </tr>
          {% endwith %}
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>{{ t_rank_pos }}</th>
              <th>{{ t_player_id }}</th>
              <th>{{ t_player_name }}</th>
              <th>{{ t_recharge_id }}</th>
              <th>{{ t_is_robot }}</th>
            </tr>
          </thead>
          <tbody>
          {% for k in rank.rank_list %}
          {% with k.rank_val|first as val %}
            <tr>
              <td>{{ k.rank_pos }}</td>
              <td>{{ k.rank_base_info.player_base_info.role_id }}</td>
              <td>{{ k.rank_base_info.player_base_info.role_name }}</td>
              <td>{{ k.rank_base_info.player_base_info.cumulate_recharge_id }}</td>
              <td>{{ k.rank_base_info.player_base_info.is_robot }}</td>
            </tr>
          {% endwith %}
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
<script type="text/javascript">
 $(document).ready(function() {
  management.numberOnly("input[name='rank_start']");
  management.numberOnly("input[name='rank_end']");
 });
</script>
{% endblock %}
