{% extends "detection/base.html" %}
{% block content %}
<div class="container-fluid white-bg">
  <div class="row">
    <!--<h1 class="page-header"></h1>-->

    <form class="form" role="form" method="post" action="{% url 'operating:single' panel.id 'single_query' %}">
      {% csrf_token %}
      <div class="form-group" style="margin-bottom: 5px">
        <label>{{t_list_of_servers}}</label>
        <select class="form-control" name="server">
          {% for server in servers %}
          <option value="{{server.id}}" {% ifequal server_id server.id %}selected{% endifequal %}>{{server.label}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group" style="margin-bottom:5px">
        <label for="uid">{{t_player_id}}</label>
        <input type="text" class="form-control" id="uin" name="uid" value="{{ uid }}">
      </div>
      <button type="submit" class="btn btn-default btn-sm">{{t_query}}</button>
    </form>

    <p class="sub-header"></p>
    <div class="table-responsive">
      {% include "operating/base_info.html" %}
    </div>
  </div>
  <center style='color: #999; padding-top: 20px; font-family: "arial","NSimSun","SimSun","STSong","AR PL SungtiL GB","TW\-Sung","WenQuanYi Bitmap Song"; font-size: 14px; font-weight: bold;'>{{excuse}}</center>
</div>
{% endblock %}
